@import url('file:///home/kiwi/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0px;
    font-family: 'Millimetre', 'FiraCode Nerd Font', 'JetBrainsMono Nerd Font', 'RobotoMono Nerd Font', Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


#workspaces button:first-child {
    border-radius: 20px 0 0 20px;
}

#workspaces button:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#workspaces button {
    background: @color0;
    color: #ffffff;
    /* border-radius: 20px; */
}

#workspaces {
    border-radius: 20px;
}

#workspaces button.active {
    background: shade(@color0, 1.5);
}

#workspaces button.urgent {
    background-color: @color1;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#custom-launcher,
#custom-power,
#custom-updater,
#tray,
#mode,
#idle_inhibitor,
#custom-weather,
#mpd {
    padding: 0 1em;
    color: white;
}

#window,
#workspaces {
    margin: 0px 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: @color0;
    color: white;
    border-radius: 0px 20px 20px 0px;
    margin-right: 4px;

}

@keyframes blink {
    to {
        background-color: @color0;
        color: @color1;
    }
}

#battery.critical:not(.charging) {
    background-color: @color1;
    color: @color0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @color0;
    color: white;
}

#memory, #battery {
    background-color: @color0;
    color: white;
}

#disk {
    background-color: @color0;
    color: white;
}

#backlight {
    background-color: @color0;
    color: white;
}

#network {
    background-color: @color0;
    color: white;
    /* border-radius: 20px 0px 0px 20px; */
}

#network.disconnected {
    background-color: @color0;
    color: red;
}

#pulseaudio {
    background-color: @color0;
    color: white;
}

#pulseaudio.muted {
    background-color: @color0;
    color: red;
}

#custom-weather {
    background-color: @color0;
    color: white;
}

#custom-media {
    background-color: @color0;
    color: white;
}

#custom-media.custom-spotify {
    background-color: @color0;
    color: white;
    border-radius: 20px;
    margin-right: 5px;

}

#custom-media.custom-vlc {
    background-color: #8EC5FC;
    color: white;
    border-radius: 20px;
    margin-right: 5px;
}

#custom-power{
    background-color: @color0;
    font-size: 20px;
    border-radius: 20px;

}
#custom-launcher{
    background-color: @color0;
    font-size: 18px;
    border-radius: 20px;

}

#custom-updater {
    background-color: @color0;
    color: white;
}

#temperature {
    background-color: @color0;
    color: white;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @color0;
    color: white;
}

#tray > .passive {
    -gtk-icon-effect: dim;
    background-color: @color0;
    color: white;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @color0;
    color: white;
}

#idle_inhibitor {
    background-color: @color0;
    border-radius: 20px 0px 0px 20px;

}

#idle_inhibitor.activated {
    background-color: @color0;
    color: white;
    border-radius: 20px 0px 0px 20px;

}

